.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: calc((100vh - 1080px) / 2 + (206px));
  background: url(../../assets/images/body.png) 50% 50% no-repeat;

  &__title {
    width: 728px;
    height: 87px;
    margin: 0 auto;
  }

  &__subTitle {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 22px;
  }

  &__qrCode {
    width: 213px;
    height: 213px;
    margin: 90px auto 0 auto;
  }

  &__text {
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin: 22px 0 0 0;
  }
}