.title {
  font-size: 22px;
  margin: 0 0 10px 0;
}

.qrcode {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 38px;
}

.text {
  font-size: 20px;
  font-weight: 500;
  margin: 0 10px 0 0;
}

.img {
  display: block;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.scan {
  font-size: 22px;
  text-align: center;
  margin: 20px 0 0 0;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #f2f2f2;
  padding: 10px;
  margin: 10px 0 10px 0;
}