.wrap {
  width: 1190px;
  background: #fff;
}

.header {
  $rule: &;
  height: 70px;
  margin: 0 auto;
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.3);

  &__left {
    display: flex;
    align-items: center;
    // background: red;

    @at-root #{$rule}__logo {
      width: 34px;
      height: 34px;
      margin: 0 0 0 16px;
    }

    @at-root #{$rule}__name {
      margin: 0 0 0 16px;
      font-size: 20px;
    }
  }

  &__center {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @at-root #{$rule}__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 86px;
      height: 36px;
      border-radius: 18px;
      font-size: 18px;
      cursor: pointer;
    }

    @at-root #{$rule}__active {
      background: #1E88EC;
      color: #fff;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }
}

.body {
  height: auto;
  margin: 0 auto;
}