.page {
  padding: 0 0 30px 0;
}

.radio {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

.goods {
  $rule: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1086px;
  min-height: 800px;
  margin: 0 auto;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    height: 404px;
    background: #fff;
    border-radius: 9px;
    margin: 20px 0 0 0;
    padding: 16px 0;

    @at-root #{$rule}__img {

      img {
        border-radius: 6px;
      }
    }

    @at-root #{$rule}__name {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 16px;
      color: #000;
      font-weight: 500;
      padding: 0 20px;
      line-height: 26px;
      // margin: 10px 0;
    }

    @at-root #{$rule}__box {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0 10px;

      @at-root #{$rule}__label1 {
        width: 110px;
        height: 30px;
        font-size: 14px;
        color: #CD2F2F;
        background: #FFEBE8;
        border-radius: 3px;
      }

      @at-root #{$rule}__label2 {
        width: 110px;
        height: 30px;
        font-size: 14px;
        color: #1D76F1;
        background: #E9F6FF;
        border-radius: 3px;
      }

      p {
        margin: 0;
      }
    }

    @at-root #{$rule}__btn {
      width: 155px;
      height: 36px;
      background: linear-gradient(-90deg, #FF5D06 0%, #FF9206 100%);
      box-shadow: 0px 3px 6px 0px rgba(255, 58, 6, 0.27);
      border-radius: 18px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      // margin: 10px 0 0 0;
    }
  }
}

.code {
  width: 327px;
  height: 350px;
  margin: 0 auto;
  padding: 60px 0 0 0;
  background: transparent url(../../../assets/images/bg2.png) no-repeat center center;

  &__img {
    display: block;
    width: 186px;
    height: 186px;
    margin: 0 auto;
  }

  &__tip {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 30px 0 0 0;
    font-weight: 500;
  }
}